* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: JM;
  src: url("/src/font/JetBrainsMono-Regular.ttf");
}

body {
  min-width: 320px;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: JM, "宋体";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #fff5;
  border-radius: 8px;
}

ol,
ul {
  list-style: none;
}
input {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  caret-color: inherit;
  font-family: JM, "宋体";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.kblog {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 16px;
}

kslide,
kpanel {
  position: sticky;
  top: 8px;
  width: 300px;
  height: calc(100vh - 16px);
  padding: 40px 16px;
  border-radius: 16px;
  transition: all 0.3s ease;
  overflow: auto;
  z-index: 999;
}
kslide {
  background: url("/src/jpg/bg.jpg") no-repeat center center / cover fixed;
}
kslide.open {
  left: 8px;
}
kpanel.open {
  right: 8px;
}

@media (max-width: 720px) {
  .kblog {
    grid-template-columns: 1fr;
    gap: 0;
  }
  kslide {
    position: fixed;
    left: -300px;
  }
  kpanel {
    position: fixed;
    right: -300px;
  }
  kcontr .slide-btn,
  kcontr .panel-btn {
    display: flex;
  }
}

@media (min-width: 721px) and (max-width: 1080px) {
  .kblog {
    grid-template-columns: 300px 1fr;
  }
  kslide {
    left: 8px;
  }
  kpanel {
    position: fixed;
    right: -300px;
  }
  kcontr .slide-btn {
    display: none;
  }
  kcontr .panel-btn {
    display: flex;
  }
}

@media (min-width: 1081px) {
  kcontr {
    display: none;
  }
}
