* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: JM;
  src: url("/assets/ttf/JetBrainsMono-Regular.ttf");
}

body {
  min-width: 320px;
  background: url(/assets/jpg/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth;
  user-select: none;
  font-size: 14px;
  font-family: JM, "宋体";
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}
input {
  background: none;
  outline: none;
  border: none;
  color: white;
  caret-color: white;
  font-family: JM, "宋体";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.blog {
  width: 100%;
  max-width: 1320px;
  padding: 8px;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 16px;
}

@media  (max-width: 640px) {
  .blog {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1080px) {
  .blog {
    grid-template-columns: 300px 1fr;
  }
}