.kright ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.kright ul li {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #f5f5f5;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  transition: all 0.2s ease;
}
.kright ul li:hover {
  background-color: #fff5;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
