.moment {
  display: grid;
  gap: 8px;
}
.moment .moment-item {
  padding: 16px;
  border: 1px solid #fff5;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 16px 16px auto;
  gap: 8px;
}
.moment .moment-avatar {
  grid-row: 1 / 3;
  width: 40px;
  height: 40px;
}
.moment .moment-avatar img {
  width: 100%;
  border-radius: 50%;
}
.moment .moment-name {
  font-size: 1.3em;
  line-height: 20px;
}
.moment .moment-time {
  font-size: 1em;
  line-height: 16px;
}
.moment .moment-more {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 40px;
  height: 40px;
  border: 1px solid #fff5;
  border-radius: 8px;
  display: flex;
}
.moment .moment-more img {
  width: 16px;
  height: 16px;
  margin: auto;
}
.moment .moment-content {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
