* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: JM;
  src: url("/src/font/JetBrainsMono-Regular.ttf");
}
.music {
  width: 300px;
  height: 240px;
  padding: 16px;
  background-color: #4d1a1a;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 40px 40px 40px 1fr;
  grid-template-rows: 1fr 8px 16px 40px;
  gap: 8px;
  font-family: JM;
  position: relative;
}

.music .music-audio {
  display: none;
}
.music .music-name {
  grid-column: 1 / 6;
  width: 100%;
  font-size: 2em;
  overflow: auto;
}
.music .music-li {
  grid-column: 1 / 6;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 8px;
  overflow: auto;
  display: none;
}
.music .music-li .music-item {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #fff5;
  border-radius: 4px;
}
.music .music-name.active {
  display: none;
}
.music .music-li.active {
  display: flex;
}

.music .music-progress {
  grid-column: 1/6;
  width: 100%;
  height: 8px;
  background-color: #fff2;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.music .music-progressbar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  left: -100%;
  top: 0;
  pointer-events: none;
}
.music .music-ttime {
  grid-column: 2/6;
  text-align: right;
}
.music .music-loop,
.music .music-prev,
.music .music-toggle,
.music .music-next,
.music .music-ul {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #fff5;
  display: flex;
}
.music .music-ul {
  margin-left: auto;
  z-index: 1;
}
.music img {
  width: 16px;
  margin: auto;
}
