card_progress {
  width: 320px;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #333;
}

card_progress .card-header {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 16px;
}
card_progress .card-header .card-header-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 16px;
  display: flex;
}
card_progress .card-header .card-header-icon img {
  width: 24px;
  height: 24px;
  margin: auto;
}
card_progress .card-header .card-header-title {
  font-size: 1.4em;
  line-height: 40px;
}

card_progress .kcheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
card_progress .kcheckbox input[type="checkbox"] {
  display: none;
}
card_progress .kcheckbox .custom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: white;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
}
card_progress .kcheckbox .custom::after {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
card_progress .kcheckbox.checked .custom {
  background-color: #4caf50;
  border-color: #4caf50;
}
card_progress .kcheckbox.checked .custom::after {
  content: "";
  border-color: #fff;
}
card_progress .kcheckbox.partial .custom::after {
  content: "";
  border-color: #333;
}

card_progress .card-progress {
  height: 28px;
  width: 240px;
  padding: 4px 8px 4px 4px;
  border: 1px solid #333;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
card_progress .card-progress-bar {
  flex: 1;
  height: 8px;
  background: #eee;
  border-radius: 4px;
  position: relative;
}
card_progress .card-progress-fill {
  width: 50%;
  height: 100%;
  background: #4caf50;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

card_progress .card-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
card_progress .card-list li {
  display: flex;
  align-items: center;
}
card_progress .card-list li .card-list-line {
  width: 40px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
card_progress .card-list :first-child .card-list-line {
  height: 8px;
}
card_progress .card-list li .card-list-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 21px;
  width: 1px;
  height: 100%;
  background-color: #333;
}
card_progress .card-list li .card-list-line::after {
  content: "";
  position: absolute;
  top: calc(-50% - 1px);
  left: 21px;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 8px;
}
card_progress .card-list li:last-child ::before {
  content: none;
}
card_progress .card-list li:first-child ::after {
  content: none;
}
card_progress .card-list li .card-list-text {
  padding-left: 8px;
}

card_progress .card-meta {
  display: grid;
  gap: 8px;
}
card_progress .card-meta .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
card_progress .card-meta .card-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
card_progress .card-meta .card-icon img {
  width: 16px;
  height: 16px;
  margin: auto;
}
card_progress .card-meta .card-value {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  background: #ffe082;
  border-radius: 8px;
}
card_progress .card-meta .priority-item .card-value {
  background: #ff8a80;
  color: #800000;
}
card_progress .card-meta .status-item .card-value {
  background: #f4af41;
  color: #a65c00;
}

card_progress .card-assignees {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 4px;
}
card_progress .card-assignees .card-assignee {
  height: 24px;
  padding: 0 8px 0 4px;
  background: #eee;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}
card_progress .card-assignees .card-assignee-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
}
