kcode .kcode-wrapper {
  display: grid;
  gap: 8px;
}
kcode .kcode-block {
  padding: 16px;
  border: 1px solid #fff5;
  backdrop-filter: blur(8px);
  border-radius: 16px;
  font-family: JM;
  font-size: 1em;
  overflow-x: auto;
  position: relative;
}
kcode .kcode-box {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: inherit;
  font-size: inherit;
}
kcode .kcode-copy {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #fff5;
  position: absolute;
  top: 8px;
  right: 8px;
}
kcode .kcode-copy:hover {
  background-color: #505050;
}
kcode .kcode-copy:active {
  background-color: #333;
}
