kmoment {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
kmoment .moment-item {
  padding: 16px;
  border: 1px solid #aaa;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 16px 16px auto;
  gap: 8px;
}
kmoment .moment-avatar {
  grid-row: 1 / 3;
  width: 40px;
  height: 40px;
}
kmoment .moment-avatar img {
  width: 100%;
  border-radius: 50%;
}
kmoment .moment-name {
  font-size: 1.3em;
  line-height: 20px;
}
kmoment .moment-time {
  font-size: 1em;
  line-height: 16px;
}
kmoment .moment-more {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 8px;
  display: flex;
}
kmoment .moment-more img {
  width: 16px;
  height: 16px;
  margin: auto;
}
kmoment .moment-content {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: grid;
  gap: 8px;
}
kmoment .moment-content .moment-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
kmoment .moment-content .moment-grid .moment-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
}
kmoment .moment-content .moment-grid .moment-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
kmoment .moment-content video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
kmoment .moment-content audio {
  width: 100%;
  border-radius: 8px;
}
