.blog {
  width: 100%;
  max-width: 1320px;
  height: 100vh;
  margin: auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 8px;
  scroll-snap-align: start;
}
.slide,
.panel {
  background-color: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}
