@font-face {
  font-family: "FY";
  src: url("/assets/font/FangYuan.woff2") format("woff2"),
    url("/assets/font/FangYuan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JBM";
  src: url("/assets/font/JBMono.woff2") format("woff2"),
    url("/assets/font/JBMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "FY", sans-serif;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
  border: none;
}
